[submodule "modules/key"]
	path = modules/key
	url = git@gitlab.com:frenware/core/crpdo/key.git

[submodule "modules/merkle"]
	path = modules/merkle
	url = git@gitlab.com:frenware/core/crpdo/merkle.git

[submodule "modules/crypto"]
	path = modules/crypto
	url = git@gitlab.com:frenware/core/crpdo/crypto.git

[submodule "modules/time"]
	path = modules/time
	url = git@gitlab.com:frenware/core/crpdo/time.git
[submodule "modules/ratchet"]
	path = modules/ratchet
	url = git@gitlab.com:frenware/core/crpdo/ratchet.git
[submodule "modules/handshake"]
	path = modules/handshake
	url = git@gitlab.com:frenware/core/crpdo/handshake.git
[submodule "modules/coins"]
	path = modules/coins
	url = git@gitlab.com:frenware/core/crpdo/coins.git
