[submodule "modules/key"]
	path = modules/key
	url = git@gitlab.com:frenware/core/crpdo/key.git

[submodule "modules/merkle"]
	path = modules/merkle
	url = git@gitlab.com:frenware/core/crpdo/merkle.git
[submodule "modules/crypto"]
	path = modules/crypto
	url = git@gitlab.com:frenware/core/crpdo/crypto.git
